<section *ngIf="showModal" class="modalContainer modalContainer--isShow" id="contCanguro">
    <div class="contMain">
        <div class="modal-header">
            <h5 class="modal-title" id="modal-basic-title">Agregar nuevo producto</h5>
            <button type="button" class="close" aria-label="Close" (click)="onClose(false)">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            <p class="mb-4">Por favor ingrese los siguientes datos para registrar un nuevo producto (todos los campos
                son obligatorios):</p>
            <form [formGroup]="registerForm">
                <div class="row form-group content-center">
                    <div class="col-md-6">
                        <input type="text" class="form-control" placeholder="Nombre del producto"
                            formControlName="nameProduct">
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="Referencia" formControlName="reference">
                    </div>
                    <div class="col-md-3">
                        <!-- <input type="text" class="form-control" placeholder="Referencia" formControlName="reference"> -->
                        <select id="world" name="world" class="form-control" formControlName="reference" (change)="onChange($event)">
                            <option selected>Seleccione categoria</option>
                            <option *ngFor="let category of categories">
                                {{category}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="row form-group content-center">
                    <div class="col-md-9">
                        <input type="text" class="form-control" placeholder="Descripción" formControlName="description">
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="Cantidad" formControlName="quantity">
                    </div>
                </div>
                <div class="row form-group content-center">
                    <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="Precio" formControlName="price">
                    </div>
                    <div class="col-md-3">
                        <input type="text" class="form-control" placeholder="Descuento" formControlName="discount">
                    </div>
                    <div class="col-md-6">
                        <input type="file" class="col-sm-12 btn-image py-1 content-center" accept=".png, .jpg, .jpeg"
                            (change)="captureImage($event)">
                    </div>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-outline-info" [disabled]="validateForm()"
                (click)="onCall()">Save</button>
        </div>
    </div>
</section>