<section class="containerSection">
    <div class="d-flex justify-content-between align-items-center headerTable">
        <div class="">
            <h5 [innerHTML]="titleTable"></h5>
        </div>
        <div class="input">
            <div class="input-group">
                <input type="text" class="form-control"
                    [placeholder]="dataView.parametricTexts.header[1].search[0].placeholder">
                <button class="btn btn-outline-secondary tooltipp" type="button" placement="top"
                    [ngbTooltip]="dataView.parametricTexts.header[1].search[0].tooltip">
                    <i class="fas fa-question-circle"></i>
                </button>
                <button class="btn btn-outline-secondary" type="button">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>
        <div>
            <button *ngFor="let button of dataView.parametricTexts.header[2].buttons, let i=index"
                class="btn btn-outline-secondary m-1" type="button" (click)="showButtonsTable(i, button.option)"
                [ngClass]="arrayClassButtons[i]">
                {{button.B001}}
            </button>
        </div>
    </div>
    <hr>
    <table class="table">
        <thead>
            <tr>
                <th scope="col" *ngFor="let columns of fieldsTable">
                    {{columns.label}}
                </th>
                <th *ngIf="optionSelected =='inputs'">
                    Editar
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let product of productsInventory; let i= index" [ngClass]="validateStock(product.stock)">
                <td *ngFor="let columns of fieldsTable">
                    {{product[columns.field]}}
                </td>
                <td class="edit" *ngIf="optionSelected =='inputs'">
                    <i class="far fa-edit"></i>
                </td>
            </tr>
        </tbody>
    </table>
    <div *ngIf="optionSelected =='inputs'" class="d-flex justify-content-between align-items-center footerTable">
        <div class="">
            <P>
                Agregar otra entrada
            </P>
        </div>
        <div class="addProduct" (click)="showForm(true)">
            <i class="fas fa-plus-circle"></i>
        </div>
    </div>
</section>