<section id="footer" class="footer">
    <div class="container content-center p-3">
        <!-- <a class="logo-brand" routerLink="">
            <i class="fas fa-store"></i>
            TODO1
        </a> -->
        <ul class="list-inline">
            <li class="list-inline-item">
                <a class="nav-link" class="logo-brand" href="#">
                    <i class="fab fa-facebook"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link" class="logo-brand" href="">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link" class="logo-brand" href="">
                    <i class="fab fa-instagram"></i>
                </a>
            </li>
            <li class="list-inline-item">
                <a class="nav-link" class="logo-brand" href="">
                    <i class="fab fa-youtube"></i>
                </a>
            </li>
        </ul>
        <small class="logo-brand">© 2021 – Tienda virtual TODO1- Todos los Derechos Reservados</small>
    </div>
</section>