.footer {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .5);
  //min-height: 100px;
  // background: url(../../../assets/images/huella.jpg);
  margin-left: auto;
  margin-right: auto;
  background-size: 15%;
}

.logo-brand {
  color: rgb(58, 31, 134);
  font-family: 'Pacifico', cursive;
  font-size: large;
}

.content-center {
  text-align: center;
}

.fab {
  color: rgb(157, 138, 209);
}
